<ion-header>
  <ion-navbar>
      <div *ngIf="!autenticacao" padding>
          <ion-title>Cadastro</ion-title>
      </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div *ngIf="!autenticacao" padding>
<ion-list>
  <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="nome"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label floating>CPF</ion-label>
      <ion-input type="number" [(ngModel)]="cpf"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label >Nascimento</ion-label>
      <ion-input type="date" [(ngModel)]="nascimento"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label floating>Cidade</ion-label>
      <ion-input type="text" [(ngModel)]="cidade"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label floating>Apelido</ion-label>
      <ion-input type="user" [(ngModel)]="apelido"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha"></ion-input>
  </ion-item>
</ion-list>
</div>
</ion-content>