<ion-header>
  <ion-navbar>
      <ion-title><h3><a class="light">Login</a>
      <button ion-button color="danger"     *ngIf="autenticacao"  (click)="logout()">Logout</button>
    </h3></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="autenticacao" padding>
    <button ion-button secondary [navPush]="chatPage" round>Darkside Chat</button>
    <button ion-button secondary [navPush]="estabelecimentoPage" round>Estabelecimento</button>
  </div>
  <div *ngIf="!autenticacao" padding>
  <ion-list>
    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>
  </ion-list>
  </div>

  <div padding>
    <button ion-button *ngIf="!autenticacao" secondary [navPush]="cadastroPage">
        Cadastro
    </button>
    <button ion-button color="secondary"  *ngIf="!autenticacao" (click)="login()">Login</button>
  </div>
  
</ion-content>

